Node-Red/flow.json
[{"id":"881b171e.7f9328","type":"tab","label":"Terminus","disabled":false,"info":""},{"id":"8fc4c536.fa1678","type":"mqtt in","z":"881b171e.7f9328","name":"","topic":"Dir/ipv6","qos":"0","datatype":"auto","broker":"9c9b35ed.55d758","x":130,"y":80,"wires":[["5117e085.3f1bc","9f7d2d72.4de1c"]]},{"id":"769c7151.27dac","type":"change","z":"881b171e.7f9328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["f391e434.ee0798"]]},{"id":"9f7d2d72.4de1c","type":"function","z":"881b171e.7f9328","name":"Store","func":"global.set(\"mqtt_ipv6\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["29a4782a.4523f8"]]},{"id":"f391e434.ee0798","type":"function","z":"881b171e.7f9328","name":"Store","func":"global.set(\"influx_ipv6\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["d2480f4a.219f9"]]},{"id":"852023d4.14999","type":"function","z":"881b171e.7f9328","name":"Compare","func":"var newip = global.get(\"mqtt_ipv6\");\nvar oldip = global.get(\"influx_ipv6\");\n\nnode.warn(\"MQTT: \" + newip);\nnode.warn(\"Influx: \" + oldip);\n\nif(newip != oldip)\n{\n    if(newip != \"fd00::90c4:37ff:fea4:fbc4\")\n    {\n        node.warn(\"Neue IP: \" + newip);\n        msg.payload = \"Neue IP: \" + newip;\n        return msg;\n    }\n}\nelse\n{\n    node.warn(\"IP gleich: \" + oldip);\n    //msg.payload = \"IP gleich: \" + oldip;\n}","outputs":1,"noerr":0,"x":900,"y":200,"wires":[["2fa66129.ce8a2e"]]},{"id":"d2480f4a.219f9","type":"delay","z":"881b171e.7f9328","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":200,"wires":[["852023d4.14999"]]},{"id":"2fa66129.ce8a2e","type":"function","z":"881b171e.7f9328","name":"Telegram","func":"var val = msg.payload;\n\n//node.warn(val)\n\nmsg.payload = {};\nmsg.payload.chatId = 766884151;\nmsg.payload.type = \"message\";\nmsg.payload.content = val;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["a4ee8aee.741278","16106621.e64b5a"]]},{"id":"29a4782a.4523f8","type":"delay","z":"881b171e.7f9328","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":80,"wires":[["6de555b9.608fac"]]},{"id":"2fca30d7.e6b4a","type":"debug","z":"881b171e.7f9328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":140,"wires":[]},{"id":"16106621.e64b5a","type":"e-mail","z":"881b171e.7f9328","server":"","port":"587","secure":false,"tls":true,"name":"","dname":"","x":500,"y":320,"wires":[]},{"id":"6de555b9.608fac","type":"influxdb out","z":"881b171e.7f9328","influxdb":"","name":"","measurement":"ipv6","precision":"","retentionPolicy":"","x":860,"y":80,"wires":[]},{"id":"5117e085.3f1bc","type":"influxdb in","z":"881b171e.7f9328","influxdb":"","name":"","query":"SELECT * FROM ipv6 GROUP BY * ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":140,"wires":[["769c7151.27dac","2fca30d7.e6b4a"]]},{"id":"a4ee8aee.741278","type":"telegram sender","z":"881b171e.7f9328","name":"","bot":"e1937ca8.d3a74","x":530,"y":260,"wires":[[]]},{"id":"9c9b35ed.55d758","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1937ca8.d3a74","type":"telegram bot","z":"","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]